.login__bg {
    background-image: url('../assets/login.jpg');
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
@media(max-width: 768px) {
    .login__bg{
        display: none;
    }
    .form__container{
        margin-top: 40px;
        height: 70vh;
    }
}